@import "~vazir-font/dist/Farsi-Digits/font-face-FD.css";

// color classes
$colors: (
  "danger": $danger,
  "info": $info,
  "primary": $primary,
  "success": $success,
  "warning": $warning,
  "light-danger": $light-danger,
  "light-info": $light-info,
  "light-primary": $light-primary,
  "light-success": $light-success,
  "light-warning": $light-warning,
  "gray": $gray,
);
@each $name, $value in $colors {
  .text-#{$name} {
    color: $value;
  }
  .bg-#{$name} {
    background-color: $value;
  }
}

// font size classes
$fonts-sizes: (
  "xl": $font-xl,
  "lg": $font-lg,
  "md": $font-md,
  "sm": $font-sm,
  "xs": $font-xs,
);
@each $name, $value in $fonts-sizes {
  .text-#{$name} {
    font-size: $value;
  }
}

// spacing
@each $size, $units in $spacing-sizes {
  // === Margin ===

  .m-#{$size} {
    @include m($size);
  }

  .mx-#{$size} {
    @include mx($size);
  }

  .my-#{$size} {
    @include my($size);
  }

  .ml-#{$size} {
    @include ml($size);
  }

  .mt-#{$size} {
    @include mt($size);
  }

  .mr-#{$size} {
    @include mr($size);
  }

  .mb-#{$size} {
    @include mb($size);
  }

  // === Padding ===

  .p-#{$size} {
    @include p($size);
  }

  .px-#{$size} {
    @include px($size);
  }

  .py-#{$size} {
    @include py($size);
  }

  .pl-#{$size} {
    @include pl($size);
  }

  .pt-#{$size} {
    @include pt($size);
  }

  .pr-#{$size} {
    @include pr($size);
  }

  .pb-#{$size} {
    @include pb($size);
  }
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}
