$breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
);

.container {
  max-width: $xl;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  column-gap: $gap;
}

@each $breakpoint, $width in $breakpoints {
  @media (min-width: $width) {
    @for $i from 1 through $columns {
      .col-#{$breakpoint}-#{$i} {
        grid-column: span $i;
      }
    }
  }
}
