$danger: #ff3a29;
$info: #02a0fc;
$primary: #4339f2;
$success: #34b53a;
$warning: #ffb200;
$light-danger: #ffe5d3;
$light-info: #ccf8fe;
$light-primary: #dad7fe;
$light-success: #e2fbd7;
$light-warning: #fff5cc;
$gray: #d8d8d8;
